body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.568);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.548);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .main-logo{
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    text-align: left;
  }

  .navbar{
    position: fixed;
    z-index: 10;
  }
  
  .collapse{
    margin-top: 3.5rem; 
  }
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }


h1 {
  font-weight: 600;
  font-size: 45px;
  color: #fff;
  opacity: 0.9;
  right: 105px;
  top: 45px;
  top: -149px;
  z-index: 9; }

h3 {
  font-weight: 200;
  font-size: 30px;
  color: #fff;
  opacity: 0.5;
  right: 105px;
  top: 45px;
  top: -149px;
  z-index: 9; }



/* main wrapper for home screen */
.main-wrapper{
  text-align: center;
  padding-top: 5.5rem; 
  padding-bottom: 1rem; 
  background-image: -moz-linear-gradient(135deg,  #ffd000 0%, #208aed 100%);
  background-image: -webkit-linear-gradient(135deg, #ffd000 0%, #208aed 100%);
  background-image: -ms-linear-gradient(135deg,  #ffd000 0%, #208aed 100%);
}

.button-area{
  margin: 2rem;
}

.button-area-right{
  float: right;
}

.nav-link{
  color: #208aed;
  font-weight: 500;
}

.item-list{
  margin: 1rem;
}
.card-deck{
  margin: 1rem;
}

.card-body{
  column-count: 2;
}

.card-header{
  background-color: #fff;
  padding: 2rem; 
}

.card-text{
  text-align:right;
}

.card-footer{
  column-count: 2;
}

.empty-gap{
  margin: 2rem;
}